@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;500;600;700;800&family=Labrada:ital,wght@0,300;1,200;1,400;1,500&family=Nunito:ital,wght@0,600;0,900;0,1000;1,300;1,400;1,500;1,600;1,700;1,800;1,1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

$red: #f00;
$black: #000;
$white: #fff;
$light-white: #aaa;
$light-bg: #111;

html {
    font-size: 62%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $black;
    }

    &::-webkit-scrollbar-thumb {
        background: $red;
    }
}

body {
    background: $black;
}

section {
    padding: 5rem 9%;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    background: linear-gradient(130deg, $red 93%, transparent 90%);
    padding-right: 3rem;
    padding: 1rem 2.8rem;
    font-size: 1.7rem;
    color: $white;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.heading {
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background: $light-white;
        top: 50%;
        left: 0;
        z-index: -1;
        transform: translateY(-50%);
        width: 100%;
        height: .1rem;

    }

    span {
        font-size: 3rem;
        background: $black;
        padding: .5rem 1.5rem;
        color: $white;
        border: .1rem solid $light-white;
        border-radius: .3rem;
    }
}

// header section starts

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    background: $black;

    .logo {
        color: $white;
        font-size: 3rem;
        font-weight: bolder;

        span {
            color: $red;
        }
    }

    .navbar a {
        padding: 1.5rem 2rem;
        font-size: 1.7rem;
        color: $white;
        display: inline-block;

        &:hover {
            background: $red;
        }
    }

    #menu-btn {
        font-size: 3rem;
        color: $white;
        cursor: pointer;
        display: none;
    }
}

// header section ends

// home section starts

.home {
    padding: 0;
    margin-top: 5.3rem;

    .slide {
        min-height: 70vh;
        background-size: cover !important;
        background-position: center !important;
        padding: 3rem 9%;
        display: flex;
        align-items: center;

        .content {
            width: 60rem;

            span {
                font-size: 2rem;
                color: $red;
                display: block;
            }

            h3 {
                font-size: 5rem;
                color: $white;
                padding: 1rem 0;
            }
        }
    }

}

.swiper-pagination-bullet {
    height: 2rem;
    width: 2rem;
    background: $red;
    border-radius: 0;
}

// home section ends

// about section starts

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;

    .image {
        flex: 1 1 41rem;
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            background: $red;
            height: 20rem;
            width: 20rem;
        }

        &::before {
            top: -2rem;
            left: -2rem;
        }

        &::after {
            bottom: -2rem;
            right: -2rem;
        }

        img {
            width: 100%;
        }
    }

    .content {
        flex: 1 1 41rem;

        span {
            font-size: 2rem;
            color: $red;
        }

        .title {
            color: $white;
            font-size: 4rem;
            margin: 1rem 0;
        }

        p {
            font-size: 1.5rem;
            color: $light-white;
            padding: 1rem 0;
            line-height: 1.6;
        }

        .box-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            margin: 1rem 0;

            .box {
                flex: 1 1 20rem;

                h3 {
                    font-size: 2rem;
                    color: $white;

                    i {
                        color: $red;
                        margin-right: 1.5rem;
                    }
                }
            }
        }
    }
}

// about section ends

// featured section starts

.featured .box-container {
    @include grid(31rem);
    gap: 0;

    .box {
        background: $light-bg;

        &.second {
            display: flex;
            flex-flow: column-reverse;
        }

        &:hover {

            .image {

                img {
                    transform: scale(1.2);
                }
            }
        }

        .image {
            height: 30rem;
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 2rem;
            text-align: center;

            img {
                height: 9rem;
                margin-bottom: 1rem;
                filter: invert(1);
            }

            h3 {
                font-size: 2rem;
                color: $red;
            }

            p {
                font-size: 1.5rem;
                line-height: 2;
                color: $light-white;
                margin: 1rem 0;
            }
        }
    }
}

// featured section ends

// pricing section starts

.pricing {
    @include grid(31rem);

    .information {

        span {
            font-size: 2rem;
            color: $red;
        }

        h3 {
            font-size: 4rem;
            padding-top: .5rem;
            color: $white;
        }

        p {
            line-height: 2;
            margin: 1rem 0;
            font-size: 1.5rem;
            color: $light-white;

            i {
                color: $red;
                margin-right: 1rem;
            }
        }
    }

    .plan {
        text-align: center;
        padding: 2rem;

        &.basic {
            background: linear-gradient(130deg, $light-bg 93%, transparent 90%);
        }

        h3 {
            font-size: 2.5rem;
            margin: 1rem 0;
            color: $white;
        }

        .price {
            font-size: 5rem;
            font-weight: bolder;
            color: $red;

            span {
                color: $white;
                font-size: 2rem;
            }
        }

        .list {
            padding: 1rem 0;

            p {
                line-height: 2;
                margin: 1rem 0;
                font-size: 1.5rem;
                color: $light-white;

                i {
                    color: $red;
                    margin-right: 1rem;
                }
            }
        }
    }

}

// pricing section ends

// trainers section starts

.trainer {
    padding-top: 5rem;

    .box-container {
        @include grid(25rem);

        .box {
            position: relative;
            height: 40rem;
            overflow: hidden;

            &:hover .content {
                transform: translateY(0);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .content {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: $light-bg;
                padding: 2rem;
                transform: translateY(6.5rem);

                span {
                    font-size: 1.5rem;
                    color: $red;
                }

                h3 {
                    font-size: 2rem;
                    color: $white;
                    margin: .6rem 0 .8rem 0;
                }

                .share {
                    padding-top: 2rem;
                    margin-top: 1.5rem;
                    border-top: .1rem solid $light-white;

                    a {
                        font-size: 2rem;
                        color: $white;
                        margin-right: 1.5rem;

                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}

// trainers section ends

// banner section starts

.banner {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(images/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;

    span {
        font-size: 2rem;
        color: $red;
    }

    h3 {
        padding-top: 1rem;
        color: $white;
        text-transform: uppercase;
        font-size: 3.5rem;
    }

    p {
        margin: 1rem auto;
        max-width: 60rem;
        color: $light-white;
        font-size: 1.5rem;
        line-height: 2;
    }
}

// banner section ends

// review section starts

.review {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .information {
        flex: 1 1 34rem;

        span {
            font-size: 2rem;
            color: $red;
        }

        h3 {
            font-size: 3rem;
            color: $white;
            margin: 1rem 0;
        }

        p {
            font-size: 1.6rem;
            color: $light-white;
            line-height: 2;
            margin-bottom: 1rem;
        }
    }

    .review-slider {
        flex: 1 1 60rem;

        .slide {
            background: linear-gradient(130deg, $light-bg 93%, transparent 90%);
            padding: 2rem 3rem;

            p {
                font-size: 1.6rem;
                color: $light-white;
                line-height: 2;
            }

            .user {
                display: flex;
                align-items: center;
                margin-top: 1rem;

                img {
                    height: 9rem;
                    width: 9rem;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 1rem;
                }

                .info {

                    h3 {
                        font-size: 2rem;
                        color: $white;
                    }

                    span {
                        color: $red;
                        font-size: 1.6rem;
                    }
                }

                i {
                    font-size: 5rem;
                    margin-left: auto;
                    margin-right: 2rem;
                    color: $red;
                }
            }
        }

    }
}

// review section ends

// blogs section starts

.blogs {

    .slide {
        background: $light-bg;
        margin-bottom: 5rem;

        &:hover {

            .image {

                img {
                    transform: scale(1.1);
                }
            }
        }

        .image {
            height: 25rem;
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 2rem;

            .link {
                margin-bottom: 1.5rem;
                font-size: 1.6rem;

                a {
                    color: $red;
                }

                span {
                    color: $white;
                    margin: 0 1rem;
                }
            }

            h3 {
                color: $white;
                font-size: 2rem;
            }

            p {
                font-size: 1.6rem;
                color: $light-white;
                margin: 1rem 0;
            }
        }
    }
}

// blogs section ends

// footer section starts

.footer {

    .box-container {
        @include grid(24rem);

        .box {

            h3 {
                font-size: 2.2rem;
                color: $white;
                margin: 1rem 0;
            }

            .links {
                display: block;
                font-size: 1.6rem;
                color: $light-white;
                margin: 1rem 0;

                &:hover {
                    color: $red;
                }
            }

            p {
                font-size: 1.6rem;
                color: $light-white;
                margin: 1rem 0;

                i {
                    margin-right: .5rem;
                    color: $red;
                }
            }

            .share {
                padding: 1rem 0;

                a {
                    font-size: 1.7rem;
                    color: $white;
                    background-color: $light-bg;
                    height: 4rem;
                    width: 4rem;
                    line-height: 4rem;
                    text-align: center;
                    border-radius: 50%;
                    margin-right: .4rem;
                    cursor: pointer;

                    &:hover {
                        color: $red;
                    }
                }
            }

            form {
                .email {
                    margin: 1rem 0;
                    width: 100%;
                    background: $light-bg;
                    padding: 1.3rem;
                    font-size: 1.5rem;
                    text-transform: none;
                    color: $white;
                }
            }
        }
    }
}

.credit {
    font-size: 2rem;
    color: $white;
    text-align: center;
    padding: 2rem;
    background: $light-bg;
    line-height: 1.7;

    span {
        color: $red;
    }
}

// footer section ends


// media queries

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 0 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .home {

        margin-top: 5.2rem;

        .slide {
            padding: 2rem 5%;

            .content {
                width: 50rem;

                h3 {
                    font-size: 3.7rem;
                }
            }
        }
    }

    .about {

        .image {
            margin-top: 5rem;
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }

}

@media (max-width:768px) {

    .header {
        padding: 2rem;

        #menu-btn {
            display: inline-block;

            &.fa-times {
                transform: rotate(180deg);
            }
        }

        .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background: $light-bg;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }

            a {
                display: block;
                font-size: 2rem;
            }
        }
    }

    .about {
        gap: 3rem;
    }

    .featured .box-container .box {

        &.second {
            display: flex;
            flex-flow: column;
        }

    }
}


@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .about {

        .content {

            .title {
                font-size: 3rem;
            }

            p {
                font-size: 1.8rem;
            }
        }
    }

}